# MQTT Broker Variables
MQTT_IMAGE=eclipse-mosquitto:2.1.2-alpine
MQTT_CONTAINER_NAME=fota_mqtt_broker
MQTT_LOG_LEVEL=debug

# Network Ports
MQTT_PORT=1883
MQTT_TLS_PORT=8883
MQTT_WS_PORT=9001

# Bind Mount Directories
MQTT_CONFIG_DIR=./config
MQTT_CERTS_DIR=./certs
MQTT_DATA_DIR=./data
MQTT_LOG_DIR=./log
